<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.notpadapp">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".activity.RegistActivity" />
        <activity android:name=".activity.PayActivity" />
        <activity android:name=".activity.IncomeActivity" />
        <activity android:name=".activity.PayListActivity" />
        <activity android:name=".activity.IncomeListActivity" />
        <activity android:name=".activity.DataListActivity" />
        <activity android:name=".activity.MarkActivity" />
        <activity android:name=".activity.MarkListActivity" />
        <activity android:name=".activity.AccountBookActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.AccountViewActivity" />
    </application>

</manifest>